
  <h1>Sign in to get involved!</h1>

  <form action="/log_in" method="POST" class="standard">
    <div><label>
      Email:
      <div><input name="email" type="email" required /></div>
    </label></div>
    <div><label>
      Password:
      <div><input name="password" type="password" required /></div>
    </label></div>
    <button type="submit">Log In</button>
  </form>

  <% if (typeof errorMessage !== 'undefined') { %>
  <p style="color: rgb(107, 8, 8)"><%= errorMessage %></p>
  <% } %>
