<link rel="stylesheet" href="/stylesheets/Mstyle.css" />

<div class="form-containerM" >
  <h1 class="h11M" >Start Planting!</h1>

  <form class="form-containerM" action="/log_in" method="POST" class="standard">

    <div class="field-containerM" >

      <div class="label-fieldsM" >
        <label>E-Mail</label>
        <label>Password</label>
      </div>

      <div class="input-fieldsM" >
        <input class="cigaretteM" name="email" type="email" required />
        <input  class="cigaretteM" name="password" type="password" required />
      </div>
      
    </div>

    <button class="commit-buttonM" type="submit">Log In!</button>
  </form>

  <% if (typeof errorMessage !== 'undefined') { %>
  <p style="color: rgb(107, 8, 8)"><%= errorMessage %></p>
  <% } %>
</div>
