<h1>Plant_Things</h1>

<nav>
    <ul>
      <li>
        <a href="/sign_up">Sign Up</a>
      </li>
      <li>
        <a href="/log_in">Log In</a>
      </li>
      <li>
        <a href="./add_plant">Add a Plant to the Database</a>
      </li>
      <li>
        <a href="./suggestion_request">Get a Plant!</a>
      </li>
    </ul>
  </nav>