<!-- ´<img id="index-bg" src="../images/background_2x.png" alt="background image of leaves"> -->
<div id="index-bg">
  <img src="../images/pt_logo_index.png" alt="Plant Quest logo">

  

    <div id="index-buttons">
      <a href="/sign_up">Sign Up</a>
    </div>
    <div id="index-buttons">
      <a href="/log_in">Log In</a>
    </div>
  
</div>