<h1>Tell Us About Your Environment</h1>


<form action="/sign_up" method="POST">
    <label>
      Indoors/Outdoors
      <input name="indoors/outdoors" required />
    </label>
    <label>
      Climate Zone
      <input name="climateZone" required />
    </label>
    <label>
      Direct Sunlight
      <input name="directSunlight" required />
    </label>
    <label>
      Soil
      <input name="soil" required />
    </label>
    <button type="submit">Get me a Plant</button>
  </form>