body {
  margin: 16px;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: 15px;
}

/* Navigation bar */

nav {
  display: flex;
  height: 64px;
  justify-content: space-between;
}

nav > div > img {
  width: 64px;
  height: 64px;
  /* outline: 3px solid green;
  outline-offset: -3px; */
}

#logo-user {
  display: flex;
  /* background-color: aqua; */
}

#user-info-header {
  /* background-color: #ffb700; */
}

#user-info-header > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

#nav-links {
  /* background-color: beige; */
}

#nav-links > ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

#nav-links > ul > li > a {
  text-decoration: none;
  color: black;
}

.standard {
  background-color: aquamarine;
  direction: flex;
  flex-direction: column;
  text-align: center;
}
