body {
  /* padding: 50px; */
  margin: 16px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/* Navigation bar */

nav {
  display: flex;
  height: 64px;
  justify-content: space-between;
}

nav > div > img {
  width: 64px;
  height: 64px;
  /* outline: 3px solid green;
  outline-offset: -3px; */
  
}

#logo-user {
  display: flex;
  background-color: aqua;
}

#user-info-header {
  background-color: #ffb700;
}

#user-info-header > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

#nav-links {
  background-color: beige;
}

#nav-links > ul {
  display: flex;
  gap: 32px;
  list-style: none;
}
