<div class="profile-page-main">


  <% if(typeof userInSession !== undefined) { %>

  <div class="profile-user-info">x
    <h1>Welcome, <%= userInSession.username %>!</h1>

    <h2>Here is your profile page!</h2>
    <p class="profile-label">Username:</p>
    <p class="profile-info"><%= userInSession.username %></p>
    <p class="profile-label">Email:</p>
    <p class="profile-info"><%= userInSession.email %> </p>

    <% if(userInSession.isAdmin === true) { %>

    <p> <a href="/plants/view_all_plants">View All Plants</a></p>
    <% } %>

  </div>

  <!-- <p>You have added <%= userInSession.plantsAdded %> to the database.</p> -->

  <!-- <% if(userInSession.plantsAdded > 1) { %>
<p>Your membership level is GOLD</p>
<% } else { %>
<p>Your membership level is NORMAL</p>
<% } %> -->

  <% } else { %>

  <p>Still no logged in user, sorry!</p>

  <% } %>
</div>